body{
    margin: 0;
}
.fon{
    background-image: url(../img/Rectangle\ 1\ \(1\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.Me{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F9BD2E;
    font-family: sans-serif;
    font-size: 32px;
}
.line{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #F9BD2E;
    width: 400px;
}
.line1{
    position: relative;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #F9BD2E;
    width: 400px;
}
.me_info{
    width: 500px;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F9BD2E;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.them_about_me{
    margin-top: 150px;
    color: #F9BD2E;
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    font-style: italic;
}
.line3{
    width: 154.003px;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #F9BD2E;
    margin-bottom: 5%;
}
.content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#about_me p{
    font-family: sans-serif;
}
.text{
    width: 300px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 25px;
}
.sub_them{
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}
.img_about_me{
    margin: 5% 0 8% 0;
}
.line4{
    width: 250px;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #F9BD2E;
    margin-bottom: 5%;
}
.line5{
    width: 450px;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #F9BD2E;
    margin-bottom: 5%;
}
.img_my_project{
    display: flex;
    justify-content: space-evenly;
}
.img_scills{
    display: flex;
    justify-content: space-around;
}
.img_scillss{
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -2%;
    margin-top: 2%;
}
.img_scill{
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -4%;
    margin-top: 4%;
}
#footer{
    background-color: #e6e6e6;
}
.them_about_me{
    padding: 50px 0 0 0;
}
.footer_info{
    text-align: center;
}
.line6{
    width: 250px;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #F9BD2E;
}
.footer_info p{
    font-size: 20px;
    font-family: sans-serif;
}
.queshon{
    margin-bottom: 4%;
}
.footer_icon{
    display: flex;
    justify-content: center;
    gap: 20px;
}
a{
    color: black;
    text-decoration: none;
}
.footer_year{
    text-align: center;
    padding: 5px;
    font-family: "微軟正黑體";
}
#header_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    top: -95vh;
}
#header_info ul a{
    color: #F9BD2E;
}